.pull-end { float: right; }
[dir="rtl"] .pull-end { float: left; }
.pull-start { float: left; }
[dir="rtl"] pull-start { float: right; }

.fixup {
    position: relative;
    top: -.05em;
}


html {
    min-height: 100%;
    position: relative;
    width: 100%;
}

body {
    background-color: rgb(252,252,252);
    color: #484848;
}

.navigation-content {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 5px;
    padding-bottom: 5px;
}

.pure-menu-heading {
    font-size: large;
    text-transform: none;
}

.header {
    color: #484848;
    margin-bottom: .5em;
    text-align: left;
}

.header ul li {
    height: auto;
}

.header ul li a {
    color: #484848;
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.header {
    color: #484848;
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.site-title {
    color: #484848;
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: none;
}

.posts-name {
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 1em;
    padding-left: 1em;
    text-transform: capitalize;
}

.posts {
    font-family: verdana,arial,helvetica,sans-serif;
    list-style-type:none;
    padding-left: 1em;
}

.posts li p {
    margin-top: 0;
}

.posts li {
    margin-bottom: 1em;
}

.posts li a {
    color:#369;
    text-decoration:none;
}

.post-list {
    font-size: large;
}

.footnote {
    color:#888;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:0.75em;
    margin-bottom:0;
}

.footnote a {
    color: #888 !important
}

.footnote a:hover{
    color:#369;
    text-decoration:underline;
}

.footer-content {
    border-top: 1px solid #e3e3e3;
    font-size: .8em;
}

.footer-content .fixup {
    position: relative;
    top: -.25em;
}

.post {
    color:#484848;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    letter-spacing:normal;
    padding-left: .5em;
}

.post h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    letter-spacing:normal;
}

.post-content {
    font-size: 16px;
    line-height: 1.4;
    overflow: auto;
    padding-bottom: 3em;
    padding: 0;
    z-index: 9;
}

.post-content img {
    height: auto;
    max-width: 100%;
}

.post a {
    color:#c05b4d;
    text-decoration: none;
}

.post a:hover {
    color:#a5473a;
    text-decoration: underline;
}

.post h1 {
    font-size: 28px;
}

.post h2 {
    font-size: 25px;
}

.post h3 {
    font-size: 23px;
}

.post h4 {
    font-size: 21px;
}

.post h5 {
    font-size: 19px;
}

.post h6 {
    font-size: 18px;
}

.post-title{
    margin-bottom: 2em;
    margin-top: 0;
}

.post-title h1 {
    font-size: 39px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
