
/* page style ****************************************************************/

.navigation-content,
.pagination-content,
.footer-content {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


.post-meta {
    font-size: .9em;
    margin: 0 0 .5em;
}

.post-meta a { text-decoration: none; }
.post-meta a:hover{ text-decoration: underline; }


/* helpers *******************************************************************/

.pull-end { float: right; }
[dir="rtl"] .pull-end { float: left; }
.pull-start { float: left; }
[dir="rtl"] pull-start { float: right; }

.fixup {
    position: relative;
    top: -.05em;
}
