{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-22-24 pure-u-md-14-24">
    <div class="post-content">
      <p class="posts-name">{{ .Title }}:</p>

      <ul class="posts">
        {{- range .Pages }}
        <li>
          {{- if .Draft }}DRAFT: {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ partial "post_meta.html" . }}
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>

{{ partial "footer.html" . }}
