{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="pure-g">
  <div class="pure-u-1-24 pure-u-md-1-6"></div>
  <div class="pure-u-11-12 pure-u-md-2-3">
    <div class="post-content">
      <p class="posts-name">{{ .Title }}:</p>

      <ul class="posts">
        {{ $baseurl := .Site.BaseURL }}
        {{ range $name, $page := .Data.Pages }}
        {{ if eq .Type "posts" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ $page.Title }}</a>

          <p class="footnote">
          <time datetime="{{ $page.Date.Format "01-02-2006" }}">
            {{ $page.Date.Format "01-02-2006" }}
          </time>
          </p>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>

{{ partial "footer.html" . }}
