{{- define "main" }}
<div>
  <p>{{ .Title }}:</p>
  <ul>
    {{- $orderkey := default "date" .Site.Params.orderPageParam }}
    {{- $orderrev := default true .Site.Params.orderPageReverse }}
    {{- $pagepool := .Pages.ByParam $orderkey }}
    {{- $pagepool := cond $orderrev $pagepool.Reverse $pagepool }}
    {{- range (.Paginate $pagepool).Pages }}
    <li>
      <div class="post-title">
        {{- if .Draft }}DRAFT: {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      {{ partial "post_meta.html" . }}
    </li>
    {{- end }}
  </ul>
</div>
{{ partial "pagination.html" . }}
{{- end }}
