{{- partial "header.html" . }}
{{- partial "navbar.html" . }}
<div class="pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-22-24 pure-u-md-14-24">
    <div class="post">

      <div class="post-title">
        {{ partial "post_meta.html" . }}
        <h1>{{ if .Draft }}DRAFT: {{ end }}{{ .Title }}</h1>
      </div>

      <div class="post-content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>
{{- partial "footer.html" . }}
