<div class="footer pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-11-12 pure-u-md-7-12">
    <div class="footer-content">
      <div class="pure-menu pure-menu-horizontal">
        {{- if .Site.Menus.footer }}
        <ul class="pure-menu-list">
          {{- range .Site.Menus.footer }}
          <li class="pure-menu-item">
            {{- if .URL }}
            <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
            {{- else }}
            {{ .Name }}
            {{- end }}
          </li>
          {{- end }}
        </ul>
        {{- end }}
        <ul class="pure-menu-list pull-right">
          {{ with .Site.RSSLink }}
          <li class="pure-menu-item">
            <a href="{{ . }}" class="pure-menu-link">RSS</a>
          </li>
          {{ end }}
          <li class="pure-menu-item pull-right">
            <a class="pure-menu-link" id="gototop-btn">
              <span class="fixup">&#x21e7;&#xfe0e;</span>
            </a>
          </li>
        </ul>
      </div>
      {{- with .Site.Copyright }}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-disabled">
            &copy; {{ now.Format "2006" }} &mdash; {{ . }}
          </li>
        </ul>
      </div>
      {{- end }}
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>
<script type="text/javascript">
  function onResize(){
    var desktop = document.querySelector('.desktop');
    desktop.style.display = document.documentElement.clientWidth > 768 ? '' : 'none';
  }
  onResize();
  window.addEventListener('resize', onResize);

  var button = document.getElementById('toggle-btn');
  var content = document.getElementById('toggle-content');
  button.addEventListener('click', function() {
    if ('' === content.style.display) {
      content.style.display = 'none';
      button.innerHTML = '&#x2630;&#xfe0e;';
    } else {
      content.style.display = '';
      button.innerHTML = '&#x2716;&#xfe0e;';
    }
  });

  var topButton = document.getElementById('gototop-btn');
  topButton.addEventListener('click', function() {
    var interval = setInterval(function() {
      if (window.pageYOffset === 0) {
        clearInterval(interval);
      }
      window.scroll(0, window.pageYOffset - 64);
    }, 16);
  });
</script>
</body>
</html>
