<div class="footer pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-11-12 pure-u-md-7-12">
    <div class="footer-content">
      <div class="pure-menu pure-menu-horizontal">
        <ul>
          {{ if .Site.Author.name }}
          <li class="pure-menu-item" id="foot-name">© {{ .Site.Author.name }}</li>
          {{ end }}

          {{ if .Site.Author.email }}
          <li class="pure-menu-item">
            <a href="mailto:{{ .Site.Author.email }}" class="pure-menu-link">Email</a>
          </li>
          {{ end }}

          {{ if .Site.Author.github }}
          <li class="pure-menu-item">
            <a href="https://github.com/{{ .Site.Author.github }}" class="pure-menu-link">GitHub</a>
          </li>
          {{ end }}

          {{ if .Site.Author.twitter }}
          <li class="pure-menu-item">
            <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="pure-menu-link">Twitter</a>
          </li>
          {{ end }}

          {{ if .Site.Author.medium }}
          <li class="pure-menu-item">
            <a href="https://medium.com/@{{ .Site.Author.medium }}" class="pure-menu-link">Medium</a>
          </li>
          {{ end }}

        </ul>
        {{ if .RSSLink }}
        <a href="{{ .RSSLink | absURL }}" class="pure-menu-link pull-right">RSS</a>
        <a class="pure-menu-link pull-right" id="gototop-btn">&#x21e7;&#xfe0e;</a>
        {{ end }}
      </div>
      {{ if .Site.Copyright }}
      <p id="foot-copyright">{{ .Site.Copyright | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
</div>

<script type="text/javascript">
  function onResize(){
    var desktop = document.querySelector('.desktop');
    desktop.style.display = document.documentElement.clientWidth > 768 ? '' : 'none';
  }
  onResize();
  window.addEventListener('resize', onResize);

  var button = document.getElementById('toggle-btn');
  var content = document.getElementById('toggle-content');
  button.addEventListener('click', function() {
    if ('' === content.style.display) {
      content.style.display = 'none';
      button.innerHTML = '&#x2630;&#xfe0e;';
    } else {
      content.style.display = '';
      button.innerHTML = '&#x2716;&#xfe0e;';
    }
  });

  var topButton = document.getElementById('gototop-btn');
  topButton.addEventListener('click', function() {
    var interval = setInterval(function() {
      if (window.pageYOffset === 0) {
        clearInterval(interval);
      }
      window.scroll(0, window.pageYOffset - 64);
    }, 16);
  });
</script>
</body>
</html>
