<div class="footer">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {{- range .Site.Menus.footer }}
      <li class="pure-menu-item"{{ if .Title }} title="{{ .Title }}"{{ end }}>
        {{- if .URL }}
        <a class="pure-menu-link" href="{{ .URL }}">{{ .Name }}</a>
        {{- else }}
        {{ .Name }}
        {{- end }}
      </li>
      {{- end }}
      {{- with .Site.RSSLink }}
      <li class="pure-menu-item" title="RSS Feed">
        <a href="{{ . }}" class="pure-menu-link">RSS</a>
      </li>
      {{- end }}
      <li class="pure-menu-item fix-cursor-pointer" title="Go to top">
        <a class="pure-menu-link" id="btn-gototop">
          <span class="fix-placement-up">&#x21e7;&#xfe0e;</span>
        </a>
      </li>
    </ul>
  </div>
  {{- with .Site.Copyright }}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-disabled">
        &copy; {{ now.Format "2006" }} &mdash; {{ . }}
      </li>
    </ul>
  </div>
  {{- end }}
</div>
<script>
  function setElementsClass(selector, value) {
    Array.prototype.forEach.call(
      document.querySelectorAll(selector),
      function(elem) { elem.className = value; }
    );
  }

  setElementsClass('img', 'pure-img');
  setElementsClass('table', 'pure-table');

  function onResize() {
      Array.prototype.forEach.call(
        [{
          selector: '.pure-menu',
          hi: 'pure-menu pure-menu-horizontal',
          lo: 'pure-menu'
        }, {
          selector: '.navigation-header-subtitle',
          hi: 'pure-menu-list navigation-header-subtitle pull-end',
          lo: 'pure-menu-list navigation-header-subtitle'
        }, {
          selector: '.navigation-header',
          hi: 'navigation-header clearfix',
          lo: 'navigation-header'
        }],
        function(elem) {
          setElementsClass(
            elem.selector,
            document.documentElement.clientWidth >= 768 ? elem.hi : elem.lo
          );
        }
      );
  }
  onResize();
  window.addEventListener('resize', onResize);

  document.getElementById('btn-gototop').addEventListener('click', function() {
    function scroll() {
      if (window.pageYOffset > 0) { setTimeout(scroll, 8); }
      window.scroll(0, window.pageYOffset - 128);
    }
    scroll();
  });
</script>
