<div class="footer pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-22-24 pure-u-md-14-24">
    <div class="footer-content">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {{- range .Site.Menus.footer }}
          <li class="pure-menu-item">
            {{- if .URL }}
            <a class="pure-menu-link" href="{{ .URL }}">{{ .Name }}</a>
            {{- else }}
            {{ .Name }}
            {{- end }}
          </li>
          {{- end }}
          {{ with .Site.RSSLink }}
          <li class="pure-menu-item">
            <a href="{{ . }}" class="pure-menu-link">RSS</a>
          </li>
          {{ end }}
          <li class="pure-menu-item">
            <a class="pure-menu-link" id="btn-gototop">
              <span class="fixup">&#x21e7;&#xfe0e;</span>
            </a>
          </li>
        </ul>
      </div>
      {{- with .Site.Copyright }}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-disabled">
            &copy; {{ now.Format "2006" }} &mdash; {{ . }}
          </li>
        </ul>
      </div>
      {{- end }}
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>
<script>
  var menus = document.querySelectorAll('.pure-menu');
  function onResize() {
    var value = document.documentElement.clientWidth >= 568 ?
      'pure-menu pure-menu-horizontal' : 'pure-menu';

    Array.prototype.forEach.call(menus, function(elem) {
      elem.className = value;
    });
  }
  onResize();
  window.addEventListener('resize', onResize);

  var topButton = document.getElementById('btn-gototop');
  topButton.addEventListener('click', function() {
    var interval = setInterval(function() {
      if (window.pageYOffset === 0) {
        clearInterval(interval);
      }
      window.scroll(0, window.pageYOffset - 64);
    }, 8);
  });
</script>
</body>
</html>
