{{- if default true .Site.Params.showNavHeader }}
  <div class="navigation-header">
    <div class="pure-menu pure-menu-horizontal">
      {{- with .Site.Title }}
      <a class="pure-menu-heading pure-menu-link" href="{{ $.Site.Home.URL }}">
        {{ . }}
      </a>
      {{- end }}
      {{- with .Site.Params.subtitle }}
      <ul class="pure-menu-list pull-end navigation-header-subtitle">
        <li class="pure-menu-item pure-menu-disabled">{{ . }}</li>
      </ul>
      {{- end }}
    </div>
  </div>
{{- end }}
<div class="navigation-content">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {{- $curr := . }}
      {{- range .Site.Menus.main }}
      {{- $selected := cond (or ($curr.IsMenuCurrent "main" .) ($curr.HasMenuCurrent "main" .)) " pure-menu-selected" "" }}
      <li class="pure-menu-item{{ $selected }}"{{ if .Title }} title="{{ .Title }}"{{ end }}>
        <a  class="pure-menu-link" href="{{.URL}}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
