<div class="post-meta">
  Date &#x5b;
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
      {{- .Date.Format (default "01-02-2006" $.Site.Params.datefmt) }}
    </time>
  &#x5d;
  {{- range $taxo := (slice "Categories" "Series" "Tags") }}
    {{- $elems := $.Param $taxo }}
    {{- if $elems }}
  {{ $taxo }} &#x5b;
      {{- range $name := $elems }}
        {{- $perma := lower (printf "%s/%s" $taxo (urlize $name)) }}
    <a href="{{ $perma | absURL }}">{{ $name }}</a>
      {{- end }}
  &#x5d;
    {{- end }}
  {{- end }}
</div>
