{{- define "main" }}
{{- $showfull := default false .Site.Params.showFullContent }}
{{- $orderkey := default "date" .Site.Params.orderPageParam }}
{{- $orderrev := default true .Site.Params.orderPageReverse }}
{{- $pagepool := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
{{- $pagepool := $pagepool.ByParam $orderkey }}
{{- $pagepool := cond $orderrev $pagepool.Reverse $pagepool }}
{{- range $idx, $_ := (.Paginate $pagepool).Pages }}
<div{{ if and $showfull $idx }} class="post-divider"{{ end }}>
  {{- if default (default true .Site.Params.showMeta) .Params.showmeta }}
  <div>
    <h2 class="post-title">
      {{ if .Draft }}DRAFT: {{ end }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "post_meta.html" . }}
  </div>
  {{- end }}
  <div>
    {{ cond $showfull .Content .Summary }}
  </div>
</div>
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
