{{- define "main" }}
{{- $showfull := default false $.Site.Params.showFullContent }}
{{- $pagepool := where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{- range $idx, $_ := (.Paginate $pagepool).Pages }}
<div{{ if and $showfull $idx }} class="post-divider"{{ end }}>
  <div>
    <h2 class="post-title">
      {{ if .Draft }}DRAFT: {{ end }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "post_meta.html" . }}
  </div>
  <div>
    {{ cond $showfull .Content .Summary }}
  </div>
</div>
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
